<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>    
        <center class="eman">
            <div class='cont'>
                <h2>WELCOME TO<br>Traffic Sign Prediction app</h2>
                <p><b> we are going to predict 43 class of images related to traffic </b></p>
            </div>

        <form method="POST" action="{{url_for('home')}}" enctype="multipart/form-data">
            <input type="file" name='image' class='btn'><br><br><br>
            <input type="submit" class='btn'>
        </form>

    </center>

    </body>
</html>